body {
    font-family: sans-serif;
}
header {
    background-color: #36D792;
    height: 50px;
    padding: 20px;
}
.link-header {
    position: relative;
    background-color: #FF4900;
    padding: 10px;
    top: 20px;
    left: 20px;
    color: black;
    text-decoration: none; 
}
footer {
    position: relative;
    top: 100px;
    background-color: #36D792;
    height: 50px;
    padding: 20px;
    color: black;
    font-size: 30px;
}
span {
    color: #FF4900;
}
.link-text {
    color: #FF4900;
    text-decoration: none;
}
.text-big {
    font-size: 30px;
}
ol {
    font-size: larger;
}
div {
    justify-content: center;
    margin-left: 220px;
    width: 500px;
}
